.booking-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.booking-form-container form {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 768px) {
    .row-container {
        visibility: 'hidden';
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
