#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.App {
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.container-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.clickable {
    cursor: pointer;
    height: 300px;
    width: 250px;
}

@media (max-width: 768px) {
    .container-wrapper {
        flex-direction: column;
    }

    .logo-image {
        width: 100px;
        height: auto;
        border-radius: 50%;
    }

    .clickable {
        height: 220px;
        width: 200px;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}