/* BusSeatLayout.css */

.bus-seat-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    max-width: 400px;
}

.seat {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seat.selected {
    background-color: #4a154b;
    color: #fff;
}

.blank-seat {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #ddd;
}

.available {
    background-color: green;
}

.selected {
    background-color: #4a154b;
}

.occupied {
    background-color: grey;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .seat {
        width: 50px;
        height: 40px;
    }

    .blank-seat {
        width: 30px;
        height: 30px;
    }

    .bus-seat-layout {
        gap: 4px;
    }
}